*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.register-btn{
    color: white;
    background-color: #1D4ED8;
    border-radius: 10px;
    padding: 12px 40px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}

.register-btn:hover{
    background-color: #2563EB;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: #575757;
}

nav ul li a:hover{
    color: #000;
}
