*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.register-btn{
    color: white;
    background-color: #1D4ED8;
    border-radius: 10px;
    padding: 12px 40px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}

.register-btn:hover{
    background-color: #2563EB;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: #575757;
}

nav ul li a:hover{
    color: #000;
}

.hero{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%), url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
}

.hero-content{
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero-heading h1{
    color: white;
    font-size: 80px;
    font-weight: 700;
    margin-top: 125px;
}

.hero-heading p{
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    max-width: 700px;
    margin: 30px auto;
    font-weight: 300;
}

.hero-heading-connect{
    font-style: italic;
}

.hero-register-btn{
    font-size: 20px;
    padding: 20px 60px;
    margin-bottom: 70px;
}

