*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.register-btn{
    color: white;
    background-color: #1D4ED8;
    border-radius: 10px;
    padding: 12px 40px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
}

.register-btn:hover{
    background-color: #2563EB;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: #575757;
}

nav ul li a:hover{
    color: #000;
}

/* hero section starts  */

.hero{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%), url('./assets/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 800px;
}

.hero-content{
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hero-heading h1{
    color: white;
    font-size: 80px;
    font-weight: 700;
    margin-top: 125px;
}

.hero-heading p{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    max-width: 700px;
    margin: 30px auto;
    font-weight: 300;
}

.hero-heading-connect{
    font-style: italic;
}

.hero-register-btn{
    font-size: 20px;
    padding: 20px 60px;
    margin-bottom: 70px;
}

/* hero section end  */

/* meet speakers section starts */

.meet-speakers{
    margin-bottom: 150px;
}

.speakers-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.meet-speakers-content{
    text-align: center;
}

.meet-speakers-content h2{
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 42px;
    font-weight: 700;
}
.speaker-card{
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
    text-align: left;

}
.speaker-card img{
    border-radius: 10px 10px 0 0;
    width: 100%;
}

.speaker-card-content{
    padding: 20px;
}

.speaker-card-content h5{
    color: #2563EB;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 12px;
}

.speaker-card-content h3{
    margin-bottom: 12px;
    font-weight: 700;
}

.speaker-card-content p{
    color: #575757;
    font-weight: 400;
    font-size: 15px;
}

/* meet speakers section end  */

/* plans section start  */
.horizontal-line{
    width: 100%;
    height: 1px;
    background-color: #E5E7EB;
}

.get-btn{
    width: 100%;
    background-color: #2563EB;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
}

.get-btn-outline{
    width: 100%;
    border: 1px solid #2563EB;
    background-color: white;
    outline: none;
    color: #2563EB;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
}


.plans-content{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

.plans-content-heading{
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}

.plans-content-description{
    color: #575757;
    font-weight: 400;
    margin-bottom: 40px;
}

.plans-cards{
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* pro plan start */
.plans-card-pro{
    flex: 1;
    background-color: #0D1B2A;
    border-radius: 15px;
    text-align: left;
    padding: 30px;
    color: white;
}

.plans-card-pro h5{
    color: #93C5FD;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.plans-card-pro h2{
    color: white;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 10px;
}

.plans-card-pro p{
    color: #FFFFFF80;
    margin-bottom: 20px;
}

.plans-card-pro .horizontal-line{
    background-color: #FFFFFF1A;
}

.plans-card-pro ul{
    margin: 14px;
}

.plans-card-pro li::marker{
    color: #60A5FA;
}

.plans-card-pro li{
    color: #FFFFFFCC;
    padding: 7px;
    font-weight: 400;
}
/* pro plan end */

/* standard plan starts */
.plans-card-standard{
    flex: 1;
    background-color: white;
    border: 1px solid #E5E7EB;
    border-radius: 15px;
    text-align: left;
    padding: 30px;
    color: black;
}

.plans-card-standard h5{
    color: #888888;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.plans-card-standard h2{
    color: black;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 10px;

}

.plans-card-standard p{
    color: #888888;
    margin-bottom: 20px;
}

.plans-card-standard ul{
    margin: 14px;
}

.plans-card-standard li::marker{
    color: #2563EB;
}

.plans-card-standard li{
    color: #333333;
    padding: 7px;
    font-weight: 400;
}
/* standard plan end */

/* team plan start */
.plans-card-team{
    flex: 1;
    background-color: #F8F9FB;
    border: 1px solid #E5E7EB;
    border-radius: 15px;
    text-align: left;
    padding: 30px;
}

.plans-card-team .get-btn-outline{
    color: #0D1B2A;
    border: 1px solid #0D1B2A;
    background-color: #F8F9FB;
}

.plans-card-team h5{
    color: #888888;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.plans-card-team h2{
    color: black;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 10px;
}

.plans-card-team p{
    color: #888888;
    margin-bottom: 20px;
}

.plans-card-team ul{
    margin: 14px;
}

.plans-card-team li::marker{
    color: #2563EB;
}

.plans-card-team li{
    color: #333333;
    padding: 7px;
    font-weight: 400;
}
/* team plan end */

/* plans section end */